# `AA` - Workshop 03

In this tutorial we will continue with our introduction series to key python data science libraries. Today we will focus on `Pandas`.

We will go through the following:

- **Introduction to `Pandas` objects**: Learn what `Pandas` Series, DataFrames and Indices are and what they are used for
- **Data selection in `Pandas`**: Index rows, columns and individual items in a `Pandas` Series and DataFrame
- **Data anaylsis and manipulation in `Pandas`**: Perform advanced hierarchical indexing on your dataset, Run simple descriptives on your dataset, Handle missing data, Carry out aggregation and grouping


## `Pandas`

Pandas is a newer package built on top of `NumPy`, and provides an efficient implementation of a `DataFrame`, the core Pandas object. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs. We will use `Pandas` as the main tool to structure, manipulate and store data throughout this course. As such Pandas constitutes a core data science library that all of you should be very well familiar with.

Let's get started...

In [1]:
import pandas as pd

### Introduction to `Pandas` objects
At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are. Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the Series, DataFrame, and Index.

#### The `Pandas Series` Object
A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [80]:
B = [12,13,14,15,16,17]
B

[12, 13, 14, 15, 16, 17]

In [81]:
F = pd.Series(B)
F

0    12
1    13
2    14
3    15
4    16
5    17
dtype: int64

As we see in the output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes. The values are simply a familiar NumPy array:

In [82]:
F.values

array([12, 13, 14, 15, 16, 17])

The index is an array-like object of type pd.Index, which we'll discuss in more detail later.

In [83]:
F.index

RangeIndex(start=0, stop=6, step=1)

Like with a `NumPy` array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [84]:
print(F[2])

14

In [85]:
print(F[2:5])

2    14
3    15
4    16
dtype: int64

From what we've seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array. **The essential difference is the presence of the index**: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.
This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [86]:
seri = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
seri

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [89]:
seri['c']

0.75

In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.
The Series-as-dictionary analogy can be made even more clear by constructing a Series object directly from a Python dictionary:

In [90]:
population_dict = {'California': 38332521,
                   'Texas': 2644819,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas          2644819
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [91]:
population_dict['California':'New York']

TypeError: unhashable type: 'slice'

In [93]:
population['California':'New York']

California    38332521
Texas          2644819
New York      19651127
dtype: int64

In [94]:
population.keys

<bound method Series.keys of California    38332521
Texas          2644819
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64>

#### The `Pandas DataFrame` Object
The next fundamental structure in `Pandas`  is the `DataFrame` . Like the Series object discussed in the previous section, the DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. We'll now take a look at each of these perspectives.

If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

In [95]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64


Now that we have this along with the population Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [96]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas          2644819  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the Series object, the DataFrame has an index attribute that gives access to the index labels:

In [97]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [16]:
states.columns

Index(['population', 'area'], dtype='object')


Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### The `Pandas Index` Object
We have seen here that both the Series and DataFrame objects contain an explicit index that lets you reference and modify data. This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values). Those views have some interesting consequences in the operations available on Index objects. As a simple example, let's construct an Index from a list of integers:

In [98]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

The Index in many ways operates like an array. For example, we can use standard Python indexing notation to retrieve values or slices:

In [99]:
ind[0]

2

In [100]:
ind[::2] # every second object starting at 0

Int64Index([2, 5, 11], dtype='int64')

Index objects also have many of the attributes familiar from NumPy arrays:

In [101]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between Index objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means

In [102]:
ind[1] = 0

TypeError: Index does not support mutable operations

### Data selection in `Pandas`

#### Data Selection in Series

As we saw in the previous section, a Series object acts in many ways like a one-dimensional NumPy array, and in many ways like a standard Python dictionary. If we keep these two overlapping analogies in mind, it will help us to understand the patterns of data indexing and selection in these arrays.

Like a dictionary, the Series object provides a mapping from a collection of keys (i.e. the index) to a collection of values:

In [103]:
seri

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [104]:
seri['d']

1.0

We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:

In [24]:
seri.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
list(seri.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [106]:
'a' in seri

True

Series objects can even be modified with a dictionary-like syntax. Just as you can extend a dictionary by assigning to a new key, you can extend a Series by assigning to a new index value:

In [107]:
seri['e'] = 1.25
seri

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [108]:
seri['a'] = 0

In [109]:
seri

a    0.00
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

A Series builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays – that is, slices, masking, and fancy indexing. Examples of these are as follows:

In [110]:
# slicing by explicit index
seri['a':'c']

a    0.00
b    0.50
c    0.75
dtype: float64

In [111]:
# slicing by implicit integer index
seri[0:2]

a    0.0
b    0.5
dtype: float64

In [112]:
seri[seri>=0.5]

b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [113]:
# masking

seri[(seri > 0.3) & (seri < 0.8)]

b    0.50
c    0.75
dtype: float64

In [114]:
# multiple indexing
seri[['a', 'e', "c"]]

a    0.00
e    1.25
c    0.75
dtype: float64

Among these, slicing may be the source of the most confusion. Notice that when slicing with an explicit index (i.e., data['a':'c']), the final index is included in the slice, while when slicing with an implicit index (i.e., data[0:2]), the final index is excluded from the slice.

**Indexers: loc and iloc**

These slicing and indexing conventions can be a source of confusion. For example, if your Series has an explicit integer index, an indexing operation such as data[1] will use the explicit indices, while a slicing operation like data[1:3] will use the implicit Python-style index.

In [115]:
data = pd.Series(['a', 'b', 'c', 'd'], index=[1, 3, 5,7])
data

1    a
3    b
5    c
7    d
dtype: object

In [116]:
# explicit index when indexing
data[5]

'c'

In [117]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

Because of this potential confusion in the case of integer indexes, Pandas provides some special indexer attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the Series.
First, the `.loc` attribute allows indexing and slicing that always references the **explicit index**:

In [118]:
data.loc[1]

'a'

In [119]:
data.loc[1:3]

1    a
3    b
dtype: object

The `.iloc` attribute allows indexing and slicing that always references the **implicit Python-style index**:

In [120]:
data.iloc[1]

'b'

In [121]:
data.iloc[1:3]

3    b
5    c
dtype: object

One guiding principle of Python code is that **"explicit is better than implicit"**. The explicit nature of `.loc` and `.iloc` make them very useful in maintaining clean and readable code; especially in the case of integer indexes, I recommend using these both to make code easier to read and understand, and to prevent subtle bugs due to the mixed indexing/slicing convention.

#### Data Selection in DataFrame

Recall that a DataFrame acts in many ways like a two-dimensional or structured array, and in other ways like a dictionary of Series structures sharing the same index. These analogies can be helpful to keep in mind as we explore data selection within this structure.

In [122]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The individual Series that make up the columns of the DataFrame can be accessed via dictionary-style indexing of the column name:

In [123]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

As mentioned previously, we can also view the DataFrame as an enhanced two-dimensional array. We can examine the raw underlying data array using the values attribute:

In [124]:
data.values

array([[  423967, 38332521],
       [  695662, 26448193],
       [  141297, 19651127],
       [  170312, 19552860],
       [  149995, 12882135]])

With this picture in mind, many familiar array-like observations can be done on the DataFrame itself. For example, we can transpose the full DataFrame to swap rows and columns:

In [125]:
data.T

      California     Texas  New York   Florida  Illinois
area      423967    695662    141297    170312    149995
pop     38332521  26448193  19651127  19552860  12882135

When it comes to indexing of DataFrame objects, however, it is clear that the dictionary-style indexing of columns precludes our ability to simply treat it as a NumPy array. In particular, passing a single index to an array accesses a row:

In [126]:
data.values[0]

array([  423967, 38332521])

and passing a single "index" to a DataFrame accesses a column:

In [46]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Thus for array-style indexing, we need another convention. Here Pandas again uses the `.loc` and `.iloc` indexers mentioned earlier. Using the `.iloc` indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the DataFrame index and column labels are maintained in the result:

In [128]:
data.iloc[:3, :]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Similarly, using the `.loc` indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [129]:
data.loc[:'Texas', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193

We can also pass conditions to the indexer, a technique calles **masking**.

In [130]:
# masking with .loc

data.loc[data.area > 200000]

              area       pop
California  423967  38332521
Texas       695662  26448193

In [131]:
# masking with explicit column index

data[data["area"] > 200000]

              area       pop
California  423967  38332521
Texas       695662  26448193

**Exercise**: Produce a DF of states with population >15M and <30M. Name this DF `mid_sized_states_df`.

In [132]:
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
# Your code here

Any of these indexing conventions may also be used to set or modify values; this is done in the standard way that you might be accustomed to from working with NumPy:

In [133]:
data.iloc[0, 1] = 90000000
data

              area       pop
California  423967  90000000
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

**Excercise**: Set the population of New York to 20M

In [135]:
# Your code here
data.iloc[2,1] = 20000000
data

              area       pop
California  423967  90000000
Texas       695662  26448193
New York    141297  20000000
Florida     170312  19552860
Illinois    149995  12882135

### Data anaylsis and manipulation in `Pandas`

#### Hierarchical Indexing

**Using MultiIndex to create hierarchichal DataFrames**

Often it is useful to store higher-dimensional data, i.e. data indexed by more than one or two keys. The most approapriate Pandas function for this is `MultiIndex`. We will demonstrate using a simple example:

In [52]:
# We use 2-D example, first specifying the outer and inner dimension as well as the values
Outer = ['California','California',
         'New York','New York',
         'Texas','Texas']

Inner = [2000,2010,
         2000,2010,
         2000,2010]

populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]

# From the outer and inner dimensions we create an index

index_list = list(zip(Outer,Inner))
index_list

[('California', 2000),
 ('California', 2010),
 ('New York', 2000),
 ('New York', 2010),
 ('Texas', 2000),
 ('Texas', 2010)]

In [136]:
# From this index a multi index can be created
index_object = pd.MultiIndex.from_tuples(index_list)
index_object

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

You can generate the same result using the `MultiIndex.from_arrays()` function fro **Pandas**. Keep in mind the size of arrays has to be the same.

In [137]:
mul_ind = pd.MultiIndex.from_arrays([Outer, Inner])
mul_ind

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [138]:
# Finally we create a data frame with hierarchichal indexes

df = pd.DataFrame(index=index_object,
                  data=populations,
                  columns=["Population"])

df

                 Population
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [139]:
area = [164,164, #California 
        55,55,   #NY State
        269,269] #Texas

df["Area"] = area

df

                 Population  Area
California 2000    33871648   164
           2010    37253956   164
New York   2000    18976457    55
           2010    19378102    55
Texas      2000    20851820   269
           2010    25145561   269

In [140]:
# We can traspose this DataFrame
df.transpose()

           California            New York               Texas
                 2000      2010      2000      2010      2000      2010
Population   33871648  37253956  18976457  19378102  20851820  25145561
Area              164       164        55        55       269       269

**MultiIndex as extra dimension**

You might notice that we could have stored the same data using a simple DataFrame with index and column labels. The `unstack()` method allows us to convert a hierachically indexed Series into a conventionally indexed DataFrame

In [141]:
df.unstack()["Population"]

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

Pivot a level of the (necessarily hierarchical) index labels, returning
a DataFrame having a new level of column labels whose inner-most level
consists of the pivoted index labels

In [142]:
df.unstack(level = -1)

           Population           Area
                 2000      2010 2000 2010
California   33871648  37253956  164  164
New York     18976457  19378102   55   55
Texas        20851820  25145561  269  269

In [143]:
df.pivot(columns = 'Area')

                 Population
Area                    55          164         269
California 2000         NaN  33871648.0         NaN
           2010         NaN  37253956.0         NaN
New York   2000  18976457.0         NaN         NaN
           2010  19378102.0         NaN         NaN
Texas      2000         NaN         NaN  20851820.0
           2010         NaN         NaN  25145561.0

#### Quick data analysis in `Pandas`

In practice your dataset will often be considerably larger than the illustrative example above. In these cases it is often useful to run brief descriptive statistical analyses on the set, which will help to get a first feel for the data. 

We will demonstrate how to do this using the provided `iris.csv` dataset. This is a famous dataset used frequently for educational purposes in data science. You can read up on the dataset, its content and its origins here: https://en.wikipedia.org/wiki/Iris_flower_data_set.

The iris dataset contains measurements for 150 iris flowers from three different species.

The __three classes__ in the Iris dataset:
* Iris-setosa (n=50)
* Iris-versicolor (n=50)
* Iris-virginica (n=50)

The __four features__ of the Iris dataset:
* sepal length in cm
* sepal width in cm
* petal length in cm
* petal width in cm

![Iris dataset explained (Source: apsl.net)](iris.original.png)

In [144]:
# first read in the data as a dataframe
# for the indirect reference "iris.csv" to work make sure it is contained in the same folder as your notebook
# You can set the index by using the index_col function

Iris_set = pd.read_csv("iris.csv", index_col="number")

In [150]:
Iris_set.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [149]:
Iris_set.tail(1)

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
number
150              5.9          3.0           5.1          1.8  virginica

In [151]:
# the describe function provides an overviewof key descriptive statistics

Iris_set.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    148.000000   149.000000    149.000000   150.000000
mean       5.827703     3.055705      3.753020     1.199333
std        0.818479     0.436878      1.770195     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.300000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [152]:
Iris_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    148 non-null float64
Sepal.Width     149 non-null float64
Petal.Length    149 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [66]:
# you can also focus your analysis on individual features by indexing them

Iris_set["Sepal.Width"].describe()

count    149.000000
mean       3.055705
std        0.436878
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: Sepal.Width, dtype: float64

In [67]:
# additionally you can call the functions seperately, e.g. max

Iris_set.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

#### Handling missing numerical data (`NaN` values)
If you have paid attention to the descriptive statistics above you will have noticed that some the __count__ of values differs across features. This is a first indication for missing numerical data. In the real world you will often encounter incomplete and noisy data which will require pre-processing before you can apply data science and machine learning tools to them. In this section we will provide a quick overview on how to deal with missing data in your data sets. 
Note that Python has two ways of highlighting missing data:
* `NaN` - (acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation
* `None` - Python-specific object that is often used for missing data in Python code. Because it is a Python object, `Non` can only be used in arrays with data type 'object' (i.e., arrays of Python objects)

**Detecting missing numerical data**

Pandas data structures have two useful methods for detecting null data: `isnull()` and `notnull()`. Either one will return a Boolean mask over the data.

In [153]:
# isnull() returns "True" for every missing numerical value in the dataset
Iris_set.isnull()

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
number
1              False        False         False        False    False
2              False        False         False        False    False
3              False        False         False        False    False
4              False        False         False        False    False
5              False        False         False        False    False
6              False        False         False        False    False
7              False        False         False        False    False
8              False        False         False        False    False
9              False        False         False        False    False
10             False        False         False        False    False
11             False        False         False        False    False
12             False        False         False        False    False
13             False        False         False        False    False
14             False        False         False        False    False
15             False        False         False        False    False
16             False        False         False        False    False
17             False        False         False        False    False
18             False        False         False        False    False
19             False        False         False        False    False
20             False        False         False        False    False
21             False        False         False        False    False
22             False        False         False        False    False
23             False        False         False        False    False
24             False         True         False        False    False
25             False        False         False        False    False
26             False        False         False        False    False
27             False        False         False        False    False
28             False        False         False        False    False
29             False        False         False        False    False
30             False        False         False        False    False
...              ...          ...           ...          ...      ...
121            False        False         False        False    False
122            False        False         False        False    False
123             True        False         False        False    False
124             True        False         False        False    False
125            False        False         False        False    False
126            False        False         False        False    False
127            False        False         False        False    False
128            False        False         False        False    False
129            False        False         False        False    False
130            False        False         False        False    False
131            False        False         False        False    False
132            False        False         False        False    False
133            False        False         False        False    False
134            False        False         False        False    False
135            False        False         False        False    False
136            False        False         False        False    False
137            False        False         False        False    False
138            False        False         False        False    False
139            False        False         False        False    False
140            False        False         False        False    False
141            False        False         False        False    False
142            False        False         False        False    False
143            False        False         False        False    False
144            False        False         False        False    False
145            False        False         False        False    False
146            False        False         False        False    False
147            False        False         False        False    False
148            False        False         False        False    False
149            False        False         False        False    False
150            False        False         False        False    False

[150 rows x 5 columns]

In [154]:
# notnull() returns "False" for every missing numerical value in the dataset

Iris_set.notnull()

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
number
1               True         True          True         True     True
2               True         True          True         True     True
3               True         True          True         True     True
4               True         True          True         True     True
5               True         True          True         True     True
6               True         True          True         True     True
7               True         True          True         True     True
8               True         True          True         True     True
9               True         True          True         True     True
10              True         True          True         True     True
11              True         True          True         True     True
12              True         True          True         True     True
13              True         True          True         True     True
14              True         True          True         True     True
15              True         True          True         True     True
16              True         True          True         True     True
17              True         True          True         True     True
18              True         True          True         True     True
19              True         True          True         True     True
20              True         True          True         True     True
21              True         True          True         True     True
22              True         True          True         True     True
23              True         True          True         True     True
24              True        False          True         True     True
25              True         True          True         True     True
26              True         True          True         True     True
27              True         True          True         True     True
28              True         True          True         True     True
29              True         True          True         True     True
30              True         True          True         True     True
...              ...          ...           ...          ...      ...
121             True         True          True         True     True
122             True         True          True         True     True
123            False         True          True         True     True
124            False         True          True         True     True
125             True         True          True         True     True
126             True         True          True         True     True
127             True         True          True         True     True
128             True         True          True         True     True
129             True         True          True         True     True
130             True         True          True         True     True
131             True         True          True         True     True
132             True         True          True         True     True
133             True         True          True         True     True
134             True         True          True         True     True
135             True         True          True         True     True
136             True         True          True         True     True
137             True         True          True         True     True
138             True         True          True         True     True
139             True         True          True         True     True
140             True         True          True         True     True
141             True         True          True         True     True
142             True         True          True         True     True
143             True         True          True         True     True
144             True         True          True         True     True
145             True         True          True         True     True
146             True         True          True         True     True
147             True         True          True         True     True
148             True         True          True         True     True
149             True         True          True         True     True
150             True         True          True         True     True

[150 rows x 5 columns]

#### Dealing with missing numerical data
In essence two approaches to dealing with missing data exist:
* __Elimination__: Dropping null values from the dataset
* __Imputation__: Imputing/replacing null values with numerical values/estimates

**Elimination (i.e. dropping null values)**

We cannot drop single values from a data frame; we can only drop full rows or full columns. Depending on the application, you might want one or the other, so `dropna()` gives a number of options:

We use the `dropna(axis=0)` function to drop all rows from the dataset that incl. null values. Note that `dropna()` will not modify your dataframe unless you call `dropna(axis=0,inplace=True)`

In [155]:
Iris_set.dropna(axis=0, inplace=False)

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
number
1                5.1          3.5           1.4          0.2     setosa
2                4.9          3.0           1.4          0.2     setosa
3                4.7          3.2           1.3          0.2     setosa
4                4.6          3.1           1.5          0.2     setosa
5                5.0          3.6           1.4          0.2     setosa
6                5.4          3.9           1.7          0.4     setosa
7                4.6          3.4           1.4          0.3     setosa
8                5.0          3.4           1.5          0.2     setosa
9                4.4          2.9           1.4          0.2     setosa
10               4.9          3.1           1.5          0.1     setosa
11               5.4          3.7           1.5          0.2     setosa
12               4.8          3.4           1.6          0.2     setosa
13               4.8          3.0           1.4          0.1     setosa
14               4.3          3.0           1.1          0.1     setosa
15               5.8          4.0           1.2          0.2     setosa
16               5.7          4.4           1.5          0.4     setosa
17               5.4          3.9           1.3          0.4     setosa
18               5.1          3.5           1.4          0.3     setosa
19               5.7          3.8           1.7          0.3     setosa
20               5.1          3.8           1.5          0.3     setosa
21               5.4          3.4           1.7          0.2     setosa
22               5.1          3.7           1.5          0.4     setosa
23               4.6          3.6           1.0          0.2     setosa
25               4.8          3.4           1.9          0.2     setosa
26               5.0          3.0           1.6          0.2     setosa
27               5.0          3.4           1.6          0.4     setosa
28               5.2          3.5           1.5          0.2     setosa
29               5.2          3.4           1.4          0.2     setosa
30               4.7          3.2           1.6          0.2     setosa
31               4.8          3.1           1.6          0.2     setosa
...              ...          ...           ...          ...        ...
119              7.7          2.6           6.9          2.3  virginica
120              6.0          2.2           5.0          1.5  virginica
121              6.9          3.2           5.7          2.3  virginica
122              5.6          2.8           4.9          2.0  virginica
125              6.7          3.3           5.7          2.1  virginica
126              7.2          3.2           6.0          1.8  virginica
127              6.2          2.8           4.8          1.8  virginica
128              6.1          3.0           4.9          1.8  virginica
129              6.4          2.8           5.6          2.1  virginica
130              7.2          3.0           5.8          1.6  virginica
131              7.4          2.8           6.1          1.9  virginica
132              7.9          3.8           6.4          2.0  virginica
133              6.4          2.8           5.6          2.2  virginica
134              6.3          2.8           5.1          1.5  virginica
135              6.1          2.6           5.6          1.4  virginica
136              7.7          3.0           6.1          2.3  virginica
137              6.3          3.4           5.6          2.4  virginica
138              6.4          3.1           5.5          1.8  virginica
139              6.0          3.0           4.8          1.8  virginica
140              6.9          3.1           5.4          2.1  virginica
141              6.7          3.1           5.6          2.4  virginica
142              6.9          3.1           5.1          2.3  virginica
143              5.8          2.7           5.1          1.9  virginica
144              6.8          3.2           5.9          2.3  virginica
145              6.7          3.3           5.7          2.5  virginica
146              6.7          3.0           5.2          2.3  virginica
147              6.3          2.5           5.0          1.9  virginica
148              6.5          3.0           5.2          2.0  virginica
149              6.2          3.4           5.4          2.3  virginica
150              5.9          3.0           5.1          1.8  virginica

[146 rows x 5 columns]

We use the `dropna(axis=1)` function to drop all columns from the dataset that incl. null values. Note that, also in this case, `dropna()` will not modify your dataframe unless you call `dropna(axis=1,inplac=True)`

In [156]:
Iris_set.dropna(axis=1)

        Petal.Width    Species
number
1               0.2     setosa
2               0.2     setosa
3               0.2     setosa
4               0.2     setosa
5               0.2     setosa
6               0.4     setosa
7               0.3     setosa
8               0.2     setosa
9               0.2     setosa
10              0.1     setosa
11              0.2     setosa
12              0.2     setosa
13              0.1     setosa
14              0.1     setosa
15              0.2     setosa
16              0.4     setosa
17              0.4     setosa
18              0.3     setosa
19              0.3     setosa
20              0.3     setosa
21              0.2     setosa
22              0.4     setosa
23              0.2     setosa
24              0.5     setosa
25              0.2     setosa
26              0.2     setosa
27              0.4     setosa
28              0.2     setosa
29              0.2     setosa
30              0.2     setosa
...             ...        ...
121             2.3  virginica
122             2.0  virginica
123             2.0  virginica
124             1.8  virginica
125             2.1  virginica
126             1.8  virginica
127             1.8  virginica
128             1.8  virginica
129             2.1  virginica
130             1.6  virginica
131             1.9  virginica
132             2.0  virginica
133             2.2  virginica
134             1.5  virginica
135             1.4  virginica
136             2.3  virginica
137             2.4  virginica
138             1.8  virginica
139             1.8  virginica
140             2.1  virginica
141             2.4  virginica
142             2.3  virginica
143             1.9  virginica
144             2.3  virginica
145             2.5  virginica
146             2.3  virginica
147             1.9  virginica
148             2.0  virginica
149             2.3  virginica
150             1.8  virginica

[150 rows x 2 columns]

In [72]:
# As can be seen below dropna() does not modify the original dataframe!

len(Iris_set)

150

In [73]:
# We can therefore also use dropna() to easily identify the number of rows with missing values 

len(Iris_set)-len(Iris_set.dropna())

4

In [74]:
# If you whish to clean the data with dropna it is good practice to define a new data frame

Iris_set_clean = Iris_set.dropna(axis=0)

In [75]:
len(Iris_set_clean)

146

**Exercise**: Use the technique of **masking** to display all records with NaN values for Sepal.Length.

In [ ]:
# Your code here

**Imputation (i.e. filling null values)**

Imputation fills null values with numerical values chosen by the data scientist. For this `fillna()`provides the appropriate tools.

The data scientist will usually choose one of the following methods:
* Fill with zeros: `fillna(0)`
* Conduct a forward fill (i.e. filling NaN values with data from following observation): `fillna(method="ffill")`
* Conduct a backward fill (i.e. filling NaN values with data from previous observation): `fillna(method="bfill")`
* Fill with the column mean,max,min, etc.: `df["Col_name"].fillna(value=df["Col_name"].mean())`
* Custom fill depending on the application

In [157]:
# fillna() allows for inserting a number of choice, confirm with inplace=True

Iris_set[["Sepal.Length"]].fillna(value=Iris_set["Sepal.Length"].mean())

        Sepal.Length
number
1           5.100000
2           4.900000
3           4.700000
4           4.600000
5           5.000000
6           5.400000
7           4.600000
8           5.000000
9           4.400000
10          4.900000
11          5.400000
12          4.800000
13          4.800000
14          4.300000
15          5.800000
16          5.700000
17          5.400000
18          5.100000
19          5.700000
20          5.100000
21          5.400000
22          5.100000
23          4.600000
24          5.100000
25          4.800000
26          5.000000
27          5.000000
28          5.200000
29          5.200000
30          4.700000
...              ...
121         6.900000
122         5.600000
123         5.827703
124         5.827703
125         6.700000
126         7.200000
127         6.200000
128         6.100000
129         6.400000
130         7.200000
131         7.400000
132         7.900000
133         6.400000
134         6.300000
135         6.100000
136         7.700000
137         6.300000
138         6.400000
139         6.000000
140         6.900000
141         6.700000
142         6.900000
143         5.800000
144         6.800000
145         6.700000
146         6.700000
147         6.300000
148         6.500000
149         6.200000
150         5.900000

[150 rows x 1 columns]

#### Data aggregation and grouping
The `groupby()` method allows for grouping of rows and the application of aggregation functions to these grouped rows. It is a highly useful method in data science and unsed extensively. We will return to the iris dataset for illustration purposes.

In [159]:
# We might want to group rows according to "Species" and assign to a new variable "Species_group"

Species_groups = Iris_set.groupby("Species").describe()

In [160]:
# This now allows us to perform a whole range of aggregation methods on the groups, e.g.:

Species_groups

           Petal.Length                                                  \
                  count      mean       std  min  25%   50%    75%  max
Species
setosa             50.0  1.462000  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor         49.0  4.255102  0.473489  3.0  4.0  4.30  4.600  5.1
virginica          50.0  5.552000  0.551895  4.5  5.1  5.55  5.875  6.9

           Petal.Width        ...  Sepal.Length      Sepal.Width            \
                 count   mean ...           75%  max       count      mean
Species                       ...
setosa            50.0  0.246 ...           5.2  5.8        49.0  3.430612
versicolor        50.0  1.326 ...           6.3  7.0        50.0  2.770000
virginica         50.0  2.026 ...           6.9  7.9        50.0  2.974000


                 std  min    25%  50%    75%  max
Species
setosa      0.382538  2.3  3.200  3.4  3.700  4.4
versicolor  0.313798  2.0  2.525  2.8  3.000  3.4
virginica   0.322497  2.2  2.800  3.0  3.175  3.8

[3 rows x 32 columns]

In [161]:
# or select an individual group across all features. Note that you need to transpose the array before you can index the group.

Iris_set.groupby("Species").describe().transpose()[["versicolor"]]

Species             versicolor
Petal.Length count   49.000000
             mean     4.255102
             std      0.473489
             min      3.000000
             25%      4.000000
             50%      4.300000
             75%      4.600000
             max      5.100000
Petal.Width  count   50.000000
             mean     1.326000
             std      0.197753
             min      1.000000
             25%      1.200000
             50%      1.300000
             75%      1.500000
             max      1.800000
Sepal.Length count   50.000000
             mean     5.936000
             std      0.516171
             min      4.900000
             25%      5.600000
             50%      5.900000
             75%      6.300000
             max      7.000000
Sepal.Width  count   50.000000
             mean     2.770000
             std      0.313798
             min      2.000000
             25%      2.525000
             50%      2.800000
             75%      3.000000
             max      3.400000

This brings us to the end of `Workshop_03`. Next week we will cover visualization techniques using `Matplotlib`.

---